// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// body {
//     background-color: #a7192f;
//
// }
// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#listing{
  margin-left: 10%;
  margin-right: 10%;
  align-content: center;
  color: black;
}
div#showCourse{
  margin-left: 5%;
  margin-right: 5%;
}
div#ag{
}
p#name{
  font-size: 24px;
}
p#desc{
  font-size: 16px;
}
table{
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
thead{
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
td{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  vertical-align: top;
}
th{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  vertical-align: top;
}
