 p.type01 {
 	position: relative;
 	left:20px;
  	font-size: 28px;
  	color : #DC143C;
  	/*font-weight: bold;*/
  }
 p.type02 {
    position: relative;
    left:20px;
    font-size: 28px;
  }
 h2{
 	font-size: 14px;
  	display:table-row;
  }
 h3{
 	font-size: 13px;
  	display:table-row;
  	text-align:center;
	width:80;
	display: table-row;
	height:20;
  }
.boxed1 {
  padding:8px;
  background-color:#E6F9FA;
  width:35%;
  float:left;
  height:500px;
}
.boxed2 {
  margin-left:20px;
  padding:10px;
  background-color:#E6F9FA;
  width:35%;
  height:450px;
}

input{
	text-align:center;
	width:80;
	display:table-cell;
	float:left;
}
table.type01 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 20px 10px;
}
table.type01 th {
    width: 300px;
    padding: 20px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #ce4869 ;
}
table.type01 td {
    width: 300px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #eee;
}
table.type02 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    margin: 20px 10px;
}
table.type02 thead th {
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #c00;
    background: #dcdcd1;
}
table.type02 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #ececec;
}
table.type02 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
table.type03 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
}
table.type03 thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #DC143C;
    margin: 20px 10px;
}
table.type03 tbody th {
    width: 150px;
    padding: 10px;
}
table.type03 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}
table.type03 .even {
    background: #fdf3f5;
}
.h {
	text-align:left;
	width:40px;
	display: table-cell;
	height:32px;
	padding-right: 20px;
	padding-left: 100px;
  font-size:18px;
}
.text{
	color:#a7aaaf;
	}
.wrapper {
    /*text-align: center;*/
    position: absolute;
    left:180px;
    top: 600px;
}


form{
	display:table;
}
