  .title{
      color:red;
      font-size: 22px;
  }
 h2{
 	font-size: 14px;
  	display:table-row;
  }
 h3{
 	font-size: 13px;
  	display:table-row;
  	text-align:center;
	  width:80;
	  display: table-row;
  	height:20;
  }
.lowlevel {
  padding:8px;
  background-color:#E6F9FA;
  width:35%;
  float:left;
  height:500px;
}
.histogramdiv {
  margin-left:20px;
  padding:10px;
  background-color:#E6F9FA;
  width:35%;
  height:450px;
}

input{
	text-align:center;
	width:80;
	display:table-cell;
	float:left;
}
.h {
	text-align:left;
	width:40px;
	display: table-cell;
	height:32px;
	padding-right: 20px;
	padding-left: 100px;
  font-size:20px;
}
.text{
	color:#a7aaaf;
	}
.wrapper {
    position: absolute;
    left:180px;
    top: 600px;
}


form{
	display:table;
}
